// MIXINS
mixin menu-section(dishes, lg)
  section.menu-item
    .menu-item__title
      h2=dishes[dishes.length-1].section_title[lg]
    .menu-item__items
      ul.menu-item__item-list
        - for (var i = 0; i < dishes.length - 1; i++) {
          - var dish = (Object.keys(dishes[i]).length > 1) ? true : false;
          if dish
            li
              .menu-item__dish
                .menu-item__dish--number=dishes[i].number
                h3.menu-item__dish--title=dishes[i].name[lg]
                span.menu-item__dish--price=dishes[i].price
                .menu-item__dish--photo
                  img(src=dishes[i].photo_url, alt='Dish Photo')
        - }

// HTML
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    |     
    link(href='https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap', rel='stylesheet')
    |     
    link(href='https://fonts.googleapis.com/css2?family=Satisfy&display=swap', rel='stylesheet')
    |     
    link(href='https://fonts.googleapis.com/css2?family=Anton&display=swap', rel='stylesheet')
    |     
    |     
    link(rel='stylesheet', href='css/main.css', type='text/css')
    |     
    script(src='script/app.js')
    |     
    title Online Menu
  body

    .nav-drawer
      .nav-drawer__header
        h1 La Cabaña
        .logo-box-nav

      .nav-drawer__body
        button.nav-drawer__button
          h3 Main

        button.nav-drawer__button
          h3 Breakfast

        button.nav-drawer__button
          h3 Drinks

        button.nav-drawer__button
          h3 Pasta

        button.nav-drawer__button
          h3 Mexican

        button.nav-drawer__button
          h3 Pizzas

        button.nav-drawer__button
          h3 Children
          
        button.nav-drawer__button
          h3 Desserts
          


    .language-pop-up
        .language-pop-up__header
          h3 Select a Language
          button.language-pop-up__header--close &times;

        .language-pop-up__body
          button.language-pop-up__button
            img(src='img/uk.png', alt='Language Selection English')
            h4.language-pop-up__button--text English

          button.language-pop-up__button
            img(src='img/spain.png', alt='Language Selection Spanish')
            h4.language-pop-up__button--text Español

          button.language-pop-up__button
            img(src='img/norway.png', alt='Language Selection Norweigan')
            h4.language-pop-up__button--text Norsk
            
          button.language-pop-up__button
            img(src='img/germany.png', alt='Language Selection German')
            h4.language-pop-up__button--text Deutsch

          button.language-pop-up__button
            img(src='img/sweden.png', alt='Language Selection Swedish')
            h4.language-pop-up__button--text Svenska

          button.language-pop-up__button
            img(src='img/finland.png', alt='Language Selection Finnish')
            h4.language-pop-up__button--text Suomi

          button.language-pop-up__button
            img(src='img/denmark.png', alt='Language Selection Danish')
            h4.language-pop-up__button--text Dansk

          button.language-pop-up__button
            img(src='img/netherlands.png', alt='Language Selection Nederlands')
            h4.language-pop-up__button--text Nederlands

          button.language-pop-up__button
            img(src='img/italy.png', alt='Language Selection Italian')
            h4.language-pop-up__button--text Italiano

          button.language-pop-up__button
            img(src='img/france.png', alt='Language Selection French')
            h4.language-pop-up__button--text Français

    #overlay 

    .logo-box.logo-box-large
    |     
    .banner
      h2.banner__restaurant_name
      button.banner__nav-drawer-open
    |     
    .language-selector.language-selector-large
      img(src=flag, alt="Selected Language Flag").language-selector__flag-box
      button.language-selector__button
        img(src='img/DropdownBlack.svg', alt='Language Selection Dropdown Button')
    |     
    .header-container
      header.header
        .header__restaurant-name
        |             
        .header__restaurant-slogan
    |     
    .main-title
      h1 Menu
    |     
    main.main
      for dishGroup in dishes
        +menu-section(dishGroup, lg)