// MIXINS
mixin img-bg(className, src)
  div(class=className, style=`background-image: url('${src}')`)

mixin review-card(reviewData)
  .floating-reviews--comment
    .floating-reviews--comment__id-container
        .floating-reviews--comment__picture(style=`background-image: url('${reviewData.profile_pic}')`)
        .floating-reviews--comment__username=reviewData.username
        .floating-reviews--comment__date=reviewData.date

    .floating-reviews--comment__content-container
        .floating-reviews--comment__rating 
            div 
            div 
            div 
            div 
            div 
        .floating-reviews--comment__title=reviewData.title[lg]
        .floating-reviews--comment__description=reviewData.description[lg]

mixin menu-content__row-left(dishes, lg)
  ul.menu-content__row-left.full 
    .menu-section-left
      div.menu-section-left__title=dishes[0].section_title[lg].toUpperCase()
    - for (var i = 1; i < dishes.length; i++) {
      - var dish = (Object.keys(dishes[i]).length > 1) ? true : false;
      - var price = parseFloat(dishes[i].prices[0])
      - var priceEuro = parseInt(price).toString()
      - var priceCents = (price - parseInt(price)).toFixed(2).replace('0', '') + ' €'
      if dish
        li.menu-option
          .menu-option__card 
            +img-bg(
              "menu-option__card__picture",
              dishes[i].photo_url
            )
            .menu-option__card__title=dishes[i].name[lg]
            .menu-option__card__footer
              .menu-option__card__price=priceEuro
                span.menu-option__card__price-cents=priceCents
              button(id=dishes[i]._id class='info-btn')
                i.fa.fa-info
    - }


mixin menu-content__row-right(dishes, lg)
  ul.menu-content__row-right.full
    - for (var i = 1; i < dishes.length; i++) {
      - var dish = (Object.keys(dishes[i]).length > 1) ? true : false;
      - var price = parseFloat(dishes[i].prices[0])
      - var priceEuro = parseInt(price).toString()
      - var priceCents = (price - parseInt(price)).toFixed(2).replace('0', '') + ' €'
      if dish
        li.menu-option
          .menu-option__card 
            +img-bg(
              "menu-option__card__picture",
              dishes[i].photo_url
            )
            .menu-option__card__title=dishes[i].name[lg]
            .menu-option__card__footer
              .menu-option__card__price=priceEuro
                span.menu-option__card__price-cents=priceCents
              button(id=dishes[i]._id class='info-btn')
                i.fa.fa-info
    - }
    .menu-section-right
      .menu-section-right__title=dishes[0].section_title[lg].toUpperCase()